.appContainer {
  min-width: 360px;
  width: 100%;
  height: 100vh;
  border-radius: 0px;
}

@media (min-width: 376px) {
  .appContainer {
    width: 100vw;
    max-width: 640px;
    height: 100vh;
    border-radius: 20px;
  }
}
