.loginButton {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 4px;
}

.tooltip {
  position: relative;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 500;
  margin-top: 24px;
  background-color: #ff4800;
}

/* 삼각형 부분 */
.tooltip::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #ff4800;
}
