name: CD
on:
  push:
    branches: ["main", "dev"]
    paths-ignore:
      - '**.md'

permissions: 
  contents: read
  packages: write

concurrency: 
  group: front-deploy-${{ github.ref_name }}
  cancel-in-progress: false

jobs:
  build-and-deploy:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    environment:
      name: ${{ github.ref_name == 'main' && 'prod' || 'dev' }}
      url: ${{ steps.set-server-url.outputs.server-url }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Lowercase Repository Owner
        run: |
          echo "OWNER_LC=${OWNER,,}" >> ${GITHUB_ENV}
        env:
          OWNER: '${{ github.repository_owner }}'
        
      - name: Set Server Url
        id: set-server-url
        run: |
          echo "server_url=${{ vars.FRONT_SERVER_URL }}" >> $GITHUB_OUTPUT
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ env.OWNER_LC }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        if: github.event_name == 'push'
        uses: docker/build-push-action@v5
        with:
          context: ./treetory
          file: ./treetory/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ env.OWNER_LC }}/${{ vars.FRONT_GHCR_REPO_NAME }}:latest
            ghcr.io/${{ env.OWNER_LC }}/${{ vars.FRONT_GHCR_REPO_NAME }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            ${{ secrets.FRONT_SCRIPT_DIR }} ${{ vars.FRONT_GHCR_REPO_NAME }} ${{ github.sha }}